/*Шрифт по умолчанию*/
$fontFamily: "MontserratRegular", sans-serif;
$fontSize: 16;

/*--------------------*/
/*Иконочные шрифты*/

/*--------------------*/
/*ПЕРЕМЕННЫЕ*/
$maxWidth: 1440px;
$maxWidthContainer: 1270;
$mainColor: #505050;
$blue: #378dbe;
$backgroundBlue: #c0dcea;
$white: #fefefe;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
/*--------------------*/
/*Подключение файлов стилей*/
@import 'fonts';
@import 'blocks/posts.scss';
@import 'blocks/post.scss';
@import 'blocks/comments.scss';






/*--------------------*/

/*ОСНОВНАЯ СЕТКА*/
body {
  position: relative;
  font-family: $fontFamily ;
  color: $mainColor;
  font-size: $fontSize + px;
  background-color: $white;
  padding: 0;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {}

}

footer {
  margin: 0 0 auto;
}

/*--------------------*/
/*ОСНОВНАЯ СЕТКА*/
.container {
  position: relative;
  max-width: $maxWidthContainer + px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}

/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;

  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/